@model yotelollevo.Ruta

@{
    ViewBag.Title = "Editar Ruta";
}

<div class="card shadow mt-3">
    <div class="card-header bg-dark text-white">
        <h3 class="card-title mb-0">Editar Ruta #@Model.IdRuta</h3>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.IdRuta)

            <div class="mb-3">
                <label class="form-label">Fecha Ruta</label>
                @Html.EditorFor(model => model.FechaRuta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaRuta, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label class="form-label">Repartidor</label>
                @Html.DropDownList("IdRepartidor", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.IdRepartidor, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label class="form-label">Estado Ruta</label>
                @Html.DropDownList("IdEstadoRuta", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.IdEstadoRuta, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <label class="form-label">Observación</label>
                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary ms-2" })
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}