@model IEnumerable<yotelollevo.Ruta>

@{
    ViewBag.Title = "Index";
}

<div class="card shadow">
    <div class="card-header bg-dark text-white">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-title">Rutas</h3>
            <a href="@Url.Action("Create", "Rutas")" class="btn btn-outline-light btn-sm">
                <i class="bi bi-eye"></i> Agregar Nueva Ruta
            </a>
        </div>
    </div>
    <div class="container-fluid mt-4">

        <div class="card-header">

        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>
                                Nombre Repartidor
                            </th>
                            <th>
                                Estado Ruta
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaRuta)
                            </th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Repartidor.Nombre)
                                @Html.DisplayFor(modelItem => item.Repartidor.ApellidoPaterno)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaRuta)
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    @Html.ActionLink("Editar Ruta", "Edit", new { id = item.IdRuta }, new { @class = "btn btn-primary btn-sm me-1" })
                                    @Html.ActionLink("Detalle Ruta", "Details", new { id = item.IdRuta }, new { @class = "btn btn-sm btn-primary me-1" })
                                    @Html.ActionLink("Asignar pedidos", "Asignar", new { id = item.IdRuta }, new { @class = "btn btn-sm btn-primary me-1" })
                                    @Html.ActionLink("Eliminar Ruta", "Delete", new { id = item.IdRuta }, new { @class = "btn btn-sm btn-primary", onclick = "return confirm('¿Estás seguro de eliminar esta ruta?');" })
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>